@model IEnumerable<GroupCoursework.ViewModel.MemberView>


<table>
    <thead></thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Member.MemberFirstName</td>
            <td>@item.Member.MemberLastName</td>
            <td>@item.Member.MemberDob</td>
            <td>@item.Member.MemberAddress</td>
            <td>@item.MembershipCategory.MembershipCategoryDescription</td>
            <td>@item.MembershipCategory.MembershipCategoryTotalLoans</td>
        </tr>
    }
   
    </tbody>
</table>

