@model IEnumerable<GroupCoursework.ViewModel.TestView>

<form asp-controller="Home" asp-action="Filter" method="get">
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" type="text" name="SearchString" placeholder="Search by Actor Surname"/>
        </div>
        <div class="col-md-4">
            <span></span>
            <input class="btn btn-primary btn-outline-dark " type="submit" value="Search"/>
        </div>

    </div>


</form>
<hr/>

<form asp-controller="Home" asp-action="ViewMemberByMemberLastName" method="get">
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" type="text" name="SearchString" placeholder="Search by Member Surname"/>
        </div>
        <div class="col-md-4">
            <span></span>
            <input class="btn btn-primary btn-outline-dark " type="submit" value="Search"/>
        </div>

    </div>
</form>
<hr/>
<form asp-controller="Home" asp-action="SearchByCopyNumber" method="get">
    <div class="row">
        <div class="col-md-4">
            <input class="form-control" type="text" name="copyNumber" placeholder="Search by Copy Number "/>
        </div>
        <div class="col-md-4">
            <span></span>
            <input class="btn btn-primary btn-outline-dark " type="submit" value="Search"/>
        </div>

    </div>
</form>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<section class="section services-section" id="services">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="section-title">
                    <h2>DVD</h2>
                    <p>All Dvd Collections are Here!</p>
                </div>
            </div>
        </div>
        <a class="btn btn-info btn-lg" asp-action="SortData"><i class="bi bi-funnel-fill"></i>&nbsp;Sort Data By Release Date</a>
        <a class="btn btn-info btn-lg" asp-action="FilterByAlphabeticalOrder"><i class="bi bi-funnel-fill"></i>&nbsp;Alphabetical Data</a>
        <a class="btn btn-info btn-lg" asp-action="SearchMemberWithNoCurrentLoans"><i class="bi bi-funnel-fill"></i>&nbsp;Member with No current loans</a>
        <a class="btn btn-info btn-lg" asp-action="ListOfAllDvdsExpiredCopy"><i class="bi bi-funnel-fill"></i>&nbsp;Expired Dvd</a>
        <a class="btn btn-info btn-lg" asp-action="DvdCopyOnLoan"><i class="bi bi-funnel-fill"></i>&nbsp;Dvd Copy On Loan</a>
        <hr/>
        <a class="btn btn-info btn-lg" asp-action="LoanNotRaisedByMemberInPresentMonth"><i class="bi bi-funnel-fill"></i>&nbsp;Loan Not Raised By Member in Present Month</a>
        <a class="btn btn-info btn-lg" asp-action="DvdTitleNotListedOnLoanForInPresentMonth"><i class="bi bi-funnel-fill"></i>&nbsp;Dvd Not Rented In Present Month</a>

        <div class="row">
            <!-- feaure box -->
            @foreach (var item in Model)
            {
                <div class="col-sm-6 col-lg-4">
                    <div class="feature-box-1">
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="feature-content">
                            <h1>@item.DvdTitle.Title</h1>
                            <h5>@item.Actor.ActorFirstName &nbsp; @item.Actor.ActorSurname</h5>
                            <ul>
                                <li>Producer name : @item.Producer.ProducerName</li>
                                <li>Age Restricted : @item.DvdCategory.AgeRestricted</li>
                                <li>Date Released : @item.DvdTitle.DateReleased</li>
                                <li>Standard Charge : @item.DvdTitle.StandardCharge</li>
                                <li>Penalty Charge : @item.DvdTitle.PenaltyCharge</li>
                            </ul>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>